:root {
    /*https://coolors.co/0f1214-616161-39d353-d2d5dd-b8bacf*/

    --primary_color: #0f1214;
    --secondary_color: #616161;
    --third_color: #B8BACF;
    --accent_color: #39D353;

    --AppBar-background: var(--primary_color);
}


.trans,
.MuiMenu-paper {
    background-color: rgb(from var(--primary_color) r g b / 40%) !important;
    backdrop-filter: blur(8px) !important;
}

.shadow {
    box-shadow: 0 4px 5px 3px rgb(from var(--accent_color) r g b / 15%) !important;
}


.MuiMenu-paper {
    border-radius: 18px !important;
}

.MuiMenu-list {
    xbackdrop-filter: blur(8px) !important;
}


/*
rect#svg_rec
{
    fill:var(--secondary_color);
}

stop#stop_zero
{
    stop-color:var(--secondary_color);
}

stop#stop_one
{
    stop-color:var(--primary_color);
}
*/
* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    xcolor: var(--third_color);
}

button {
    color: var(--accent_color);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    color: var(--third_color);
    background-color: var(--primary_color);
    background-attachment: fixed;
    background-repeat: repeat;
    xbackground-size: cover;
    min-height: 100vh;
}

a {
    position: relative;
    color: red;
    text-decoration: none;
}

a.hamburger-menu {
    color: var(--third_color)
}

a.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--third_color);
    text-decoration: none;
    height: 29px;
}

a.main-menu:hover,
a.hamburger-menu:hover {
    color: var(--accent_color);
}

a.main-menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--accent_color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease-out 0s;
    border-radius: 16px;
}

a.main-menu:hover::before {
    transform: scaleX(1);
}

/* scroll bar width */
::-webkit-scrollbar {
    width: 10px;
}

/* scroll bar Track */
::-webkit-scrollbar-track {
    background: var(--primary_color);
}

/* scroll bar Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
}

/* scroll bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: #39D353;*/
    background: var(--accent_color);
}

.App {
    text-align: center;
}

/*
.MuiMenu-paper {
    xbackground-color: rgb(from var(--primary_color) r g b / 40%) !important;
    border-bottom: 1px solid hsla(210, 14%, 28%, 0.3);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}*/



#T:hover,
#A:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 1px, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, -1px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

header {
    background-color: var(--primary_color);
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 0px solid #DDD;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.grid_cell_item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: unset !important;
    box-shadow: unset !important;
    color: var(--third_color) !important;
}

#preset_select
{
    height: 27px;
    border-radius: 8px;
    border: 0;
    background-color: var(--third_color) !important;
}