:root {
    /*https://coolors.co/0f1214-616161-39d353-d2d5dd-b8bacf*/

    --primary_color: #231F20;
    --secondary_color: #6B6B6B;
    --third_color: #FFFFFF;
    --accent_color: #30CE3B;

    --trans: 78;

    --AppBar-background: var(--primary_color);
}


/*
.MuiMenu-paper
{
    background-color:unset !important;
    background-color: rgb(from var(--primary_color) r g b / 44%) !important;
    backdrop-filter: blur(8px) !important;
    border-radius: 18px !important;
    
}*/



.card
{
    xborder: 1px solid hsl(0deg 0% 0% / 25%) !important;
    border: 1px solid rgb(from var(--primary_color) r g b / 25%) !important;/*40 */
    border-radius: 16px;
}

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    xcolor: var(--third_color);
}

button
{
    color: var(--accent_color) !important;
    border: 1px solid var(--accent_color) !important;
}

input
{
    color: var(--third_color) !important;
}

.formItem
{
    border: 1px solid var(--accent_color) !important;
}


.socials
{
    border: 0 !important;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    color: var(--third_color);
    background-color: var(--primary_color);
    background-attachment: fixed;
    background-repeat: repeat;
    xbackground-size: cover;
    min-height: 100vh;
}

a {
    position: relative;
    color: red;
    text-decoration: none;
}

a.hamburger-menu {
    color: var(--third_color)
}

.main-menu
{
    text-shadow: 2px 2px var(--primary_color) !important;
}

a.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--third_color);
    text-decoration: none;
    height: 29px;
}

a.main-menu:hover,
a.hamburger-menu:hover {
    color: var(--accent_color);
}

a.main-menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--accent_color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease-out 0s;
    border-radius: 16px;
}

a.main-menu:hover::before {
    transform: scaleX(1);
}

/* scroll bar width */
::-webkit-scrollbar {
    width: 10px;
}

/* scroll bar Track */
::-webkit-scrollbar-track {
    background: var(--primary_color);
}

/* scroll bar Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary_color);
}

/* scroll bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: #39D353;*/
    background: var(--accent_color);
}

.App {
    text-align: center;
}



#T:hover,
#A:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 1px, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, -1px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

header {
    background-color: var(--primary_color);
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 0px solid #DDD;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.grid_cell_item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
}

#preset_select
{
    height: 27px;
    border-radius: 8px;
    border: 0;
    background-color: var(--third_color) !important;
}


.MuiInputLabel-root, .MuiFormLabel-colorPrimary, .MuiInputBase-input, .MenuItemItem
{
    color: var(--third_color) !important;
}

.MuiInputLabel-shrink
{
    color: var(--secondary_color) !important;
}
.Mui-focused
{
    color: var(--accent_color) !important;
}


.form_text
{
    xbackground-color: rgb(from var(--third_color) r g b / 10%) !important;
    border-radius: 8px;
}


.mySelect
{
    height:28px !important;
    
}

.mySelect div
{
    min-width:50px !important;
}

.mySelect fieldset
{
    border: 2px solid var(--secondary_color) !important;
}

.mySelect:hover fieldset
{
    border: 2px solid var(--third_color) !important;
}

.mySelect:active fieldset,
.mySelect:focus fieldset
{
    border: 2px solid var(--accent_color) !important;
}